<link rel="stylesheet" href="../public/style/home-styles.css" />
<link href="../public/style/login-styles.css" rel="stylesheet" />

<style>
  /* Nav Bar */
  .nav {
    height: 80px;
    width: 100% !important;
    background-color: #0e0e11;
    padding-top: 20px;
  }

  .nav > .nav-header {
    display: inline;
  }

  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;

    padding: 10px 10px 10px 10px;
  }

  .nav > .nav-btn {
    display: none;
  }

  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }

  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: white;
  }

  .nav > .nav-links > a:hover {
    background-color: #232323;
  }

  .nav > #nav-check {
    display: none;
  }

  /* Nav Bar media Queries */

  @media (max-width: 680px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }

    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }

    .nav > .nav-btn > label:hover,
    .nav #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }

    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid white;
    }

    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #232323;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 80px;
      left: 0px;
    }

    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
</style>

<div class="container full-height-grow">
  <% include ./partials/nav %>
  <section class="login-main-section">
    <h1 class="login-text">
      Sign
      <span class="accent-text">Up.</span>
    </h1>
    <form action="/users/register" method="POST" class="login-form">
      <span class="accent-text-stroke">Sign up</span
      ><span> to access your tasks.</span>
      <br />
      <br />
      <br />
      <% include ./partials/messages %>

      <!-- Leader Name -->
      <div class="input-group email">
        <label for="name">Leader Name</label>
        <input
          style="color: #495057; background-color: #fff"
          required
          spellcheck="false"
          type="name"
          id="name"
          name="name"
          placeholder="Enter Name"
          value="<%= typeof name != 'undefined' ? name : '' %>"
        />
      </div>

      <!-- College Name -->
      <div class="input-group">
        <label for="college">College</label>
        <input
          type="college"
          id="college"
          name="college"
          style="color: #495057; background-color: #fff"
          required
          spellcheck="false"
          placeholder="Enter Your College"
          value="<%= typeof college != 'undefined' ? college : '' %>"
        />
      </div>

      <!-- College Address -->
      <div class="input-group">
        <label for="college">College Address</label>
        <input
          type="address"
          id="address"
          name="address"
          style="color: #495057; background-color: #fff"
          required
          spellcheck="false"
          placeholder="Address(with PIN code)"
          value="<%= typeof address != 'undefined' ? address : '' %>"
        />
      </div>

      <!-- Team Name -->
      <div class="input-group">
        <label for="name">Team Name</label>
        <input
          type="team_name"
          id="team_name"
          name="team_name"
          style="color: #495057; background-color: #fff"
          required
          spellcheck="false"
          placeholder="Enter your team name"
          value="<%= typeof team_name != 'undefined' ? team_name : '' %>"
        />
      </div>

      <!-- Phone -->
      <div class="input-group">
        <label for="number">Phone</label>
        <input
          type="number"
          id="number"
          name="number"
          style="color: #495057; background-color: #fff"
          required
          spellcheck="false"
          placeholder="Phone Number"
          value="<%= typeof number != 'undefined' ? number : '' %>"
        />
      </div>

      <!-- Email -->
      <div class="input-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          style="color: #495057; background-color: #fff"
          required
          spellcheck="false"
          placeholder="Enter Email"
          value="<%= typeof email != 'undefined' ? email : '' %>"
        />
      </div>

      <!-- Password -->
      <div class="input-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          style="color: #495057; background-color: #fff"
          required
          spellcheck="false"
          placeholder="Create Password"
          value="<%= typeof password != 'undefined' ? password : '' %>"
        />
      </div>

      <!-- Confirm -->
      <div class="input-group">
        <label for="password2">Confirm Password</label>
        <input
          type="password"
          id="password2"
          name="password2"
          style="color: #495057; background-color: #fff"
          required
          spellcheck="false"
          placeholder="Confirm Password"
          value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
        />
      </div>

      <div class="input-group">
        <button type="submit" class="btn">Register</button>
      </div>
      <div class="input-group-last">
        <a
          href="/users/login"
          style="color: inherit; text-decoration: none"
          class="forgot-button"
          ><label>Have An Account?</label></a
        >
      </div>
    </form>
  </section>
</div>
<div>
  <br />
  <br />
</div>
